/*
*   DastNevesht :: Styles
*/

@import url(./fontiran.css);
@import url(./typicons.min.css);

body {
  font-family: IRANSans;
  font-weight: 500;
}

#navbar > ul > li > a {
  font-size: 1.2rem;
}

#sidebar .list-group {
  /*border: 2px solid red;*/
  margin-top: 75px;
}

#sidebar .list-group a {
  font-size: 1.2rem;
}

#sidebar .list-group a:last-of-type {
  font-weight: 700;
}

.jumbotron {
  margin-top: 75px;
}

.jumbotron h1 {
  font-size: 3.5rem;
}

.jumbotron p.tagline {
  font-size: 1.8rem;
}

.posts-grid h2 {
  font-size: 2rem;
}

.posts-grid p {
  font-size: 1.2rem;
}

.tag-p {
  color: #222;
}

.author-p {
  color: #007db6;
}

.tag-p a.tag-a {
  color: #333;
  padding: .6 rem;
}

.tag-p a.tag-a:hover {
  color: red;
  text-decoration: none;
}

.tag-p a.tag-a::after {
  content: "، ";
  color: #777;
}

.tag-p a.tag-a:last-child::after {
  content: "";
}




footer p {
  font-size: 1rem;
}